body {
    font-family: Arial, sans-serif;
    background-color : black;
    margin: 0;
    padding: 0;
  }
  
  h2{
    color: black;
  }

  p{
    color: #333333;
  }
  
  header {
    background-color: #FF0000;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  .video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .video-thumbnail {
    background-color: #F2F2F2;
    padding: 10px;
    text-align: center;
  }
  
  .video-thumbnail img {
    width: 100%;
    height: auto;
  }
  
  .video-thumbnail h2 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .video-thumbnail p {
    color: #888888;
    font-size: 14px;
  }
  
  footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .video-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    .video-grid {
      grid-template-columns: 1fr;
    }
  }